accelerate==0.26.0
beautifulsoup4==4.13.3
beir==2.0.0
chardet==5.2.0
code_bert_score==0.4.1
ds==0.0.1
editdistance==0.8.1
evaluate==0.4.3
FastWARC==0.15.1
GitPython==3.1.44
GitPython==3.1.44
html2text==2024.2.26
jsonlines==4.0.0
langchain==0.3.18
langchain_community==0.3.17
litellm==1.60.8
nltk==3.9.1
openai==1.61.1
peft==0.14.0
protobuf==5.29.3
pyext==0.7
PyPDF2==3.0.1
pyserini==0.44.0
rank_bm25==0.2.2
sentence_transformers==3.1.1
setuptools==75.8.0
tenacity==9.0.0
tensorflow==2.18.0
tiktoken==0.6.0
torch==2.3.0
tqdm==4.67.1
transformers==4.40.0
unidiff==0.7.5
vllm==0.4.2
voyageai==0.3.2
